---
import Footer from "../Footer/Footer.astro";
import MoreMenu from "../RightSidebar/MoreMenu.astro";
import TableOfContents from "../RightSidebar/TableOfContents";

const { content, githubEditUrl, currentFile } = Astro.props;
const title = content.title;
const headings = content.astro.headings;
---

<div class="px-4 sm:p-0 w-full h-full flex flex-col">
	<section class="mb-2">
		<h1 class="text-4xl font-semibold" id="overview">{title}</h1>
		<nav class="block sm:hidden">
			<TableOfContents  {headings} />
		</nav>
	</section>
	<article class="markdown px-6">
		<slot />
	</article>
	<nav class="block sm:hidden">
		<MoreMenu editHref={githubEditUrl} />
	</nav>
	<div class="w-full mx-auto pt-48">
		<Footer client:load path={currentFile} />
	</div>
</div>


